body {
    display: flex;
    align-items: center;
    margin: 0;
}
section {
    width: 49%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-image {
    justify-content: center;
}

.auth-image {
    margin: 0 auto;
    max-width: 500px;
}

.inputs {
    margin: 0 0 30px 15px;
}
.incorrect-data {
    color: red;
    display: none;
}

.signup {
    margin-bottom: 30px;
}

.forgot-password {
    margin-top: 40px;
}
